<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMI"
        tools:targetApi="31">
        <activity
            android:name=".PrinterConnectActivity"
            android:exported="false" />
        <activity
            android:name=".PrinterWarningActivity"
            android:exported="false" />
        <activity
            android:name=".PrinterAcceptActivity"
            android:exported="false" />
        <activity
            android:name=".SignalingRecursiveActivity"
            android:exported="false" />
        <activity
            android:name=".SignalingSimpleActivity"
            android:exported="false" />
        <activity
            android:name=".SearchSpeciesActivity"
            android:exported="false" />
        <activity
            android:name=".SearchRangeActivity"
            android:exported="false" />
        <activity
            android:name=".SearchSampleActivity"
            android:exported="false" />
        <activity
            android:name=".LogisticMovingActivity"
            android:exported="false" />
        <activity
            android:name=".LogisticAttributingActivity"
            android:exported="false" />
        <activity
            android:name=".LabAliquotingActivity"
            android:exported="false" />
        <activity
            android:name=".LabExtractionActivity"
            android:exported="false" />
        <activity
            android:name=".LabWeighingActivity"
            android:exported="false" />
        <activity
            android:name=".LabPrepActivity"
            android:exported="false" />
        <activity
            android:name=".HomeSignalingActivity"
            android:exported="false" />
        <activity
            android:name=".HomeSearchActivity"
            android:exported="false" />
        <activity
            android:name=".HomeLogisticActivity"
            android:exported="false" />
        <activity
            android:name=".HomeLabActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>